.cookie-banner {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 500px;
    background-color: #fffefa;
    color: #333;
    padding: 20px; 
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border: 2px solid;
    border-radius: 10px;
    opacity: 0.95; 
  }
  
  .cookie-banner h2 {
    font-size: 24px;
    margin: 10px 0;
  }
  
  .cookie-banner p {
    font-size: 18px;
    margin: 10px 0;
  }
  