.header {
    text-align: center;
    margin: 50px 0;
  }
  
  .header h1 {
    font-size: 36px;
    color: #333;
  }
  
  .header p {
    font-size: 18px;
    color: #666;
  }
  
  .features {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
  }
  
  .feature {
    text-align: center;
    width: 30%;
  }
  
  .feature i {
    font-size: 36px;
    color: #64B5F6;
    margin-bottom: 20px;
  }
  
  .feature h2 {
    font-size: 24px;
    color: #333;
  }
  
  .feature p {
    font-size: 18px;
    color: #666;
  }
  
.home-page {
    background-color: #fffefa;
    border:1px solid #ffde6a;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 200px;
    margin-left: 10px;
    margin-right: 10px;
}

.image-home {
  width: 30%;
}

.call-to-action {
    text-align: center;
    margin: 50px 0;
  }
  
.btn {
    display: inline-block;
    padding: 50px;
    margin-top: 30px;
    font-size: 20px;
    text-decoration: none;
  }

