/* JobCard.css */

.card.ad-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ffde6a;
  background-color: #fffefa;
  border-radius: 20px;
  box-shadow: 0 7px 14px 0 rgba(8, 15, 52, 0.03);
  transform: translate(0px, 0px);
  margin: 0 auto; 
  text-align: center;
  max-width: 800px;
}

.card.ad-details:hover {
  border-color: #0061ff;
  transform: translate(0px, -4px);
  color: #686781;
}

.title.h2-size.card-job-featured {
  margin-bottom: 6px;
}

.ad-details-description {
  font-size: 16px;
  line-height: 1.5em;
  color: #686781;
  margin-top: 20px;
}

.ad-details-titles {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Pour que les titres prennent toute la largeur */
  margin: 10px 0;
}

.ad-details-category-title-container {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.143em;
  margin-left: 10px;
}

.ad-details-data {
  display: flex;
  justify-content: space-between; 
  width: 100%; /* Pour que les données prennent toute la largeur */
}

.ad-details-category-text-container {
  margin-left: 10px;
}

.ad-details-category-text {
  color: #171728;
  line-height: 1.25em;
  font-weight: 500;
}

.ad-details-category-title-icon {
  max-width: 14px;
  margin-right: 5px;
}

.divider {
  width: 100%;
  margin: 20px 0;
  border: 1px solid #e4e4ed;
}
